* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
}

header {
    height: 100vh;
    background-color: #18c29c;
    width: 250px;
    transition: width ease-in-out .4s;
  }

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1.3rem 1.3rem 0 1.3rem;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.3rem 1.3rem 0 1.3rem;
}

.menu-itens {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.menu-itens a {
    text-decoration: none;
    color: #084236;
    font-size: 1.2rem;
}

.menu-itens.input-group {
    background-color: #8ED7C6;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: .8rem;
    padding: .5rem;
    margin-left: -10px;
}

.menu-itens.input-group input {
    background-color: #8ED7C6;
    border: none;
    outline: none;
    height: 100%;
    padding: .5rem;
    margin-left: -10px;
    width: 100px;
}

.menu-footer {
    background-color: #8ED7C6;
    display: flex;
    justify-content: space-between;
    gap: .9rem;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transition: all ease-in-out .4s;
}

.menu-footer.active {
    opacity: 1;
}

.user-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user-info img {
    width: 60px;
    object-fit: contain;
    border-radius: 1.1rem;
}

img:hover {
    cursor: pointer;
}


main {
    padding: 1rem;
    background-color: lightblue;
}

main h2 {
    color: #084236;
    display: flex;
}

.active {
    width: 65px;
    overflow: hidden;
    transition: all ease-in-out .4s;
}

.btn-search {
    width: 42px;
}

.display-none {
    display: none;
}

